<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi cupiditate ab veritatis sed fugit odio rerum nihil corrupti nemo recusandae.</p>
        </div>
    </div>
</div>

<!--Contact form -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form >
                <div class="mb-2">
                    <input type="text" name="" placeholder="Name" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" name="" placeholder="Photo Url" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="email" name="" placeholder="Email" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="number" name="" placeholder="mobile" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" name="" placeholder="Company" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" name="" placeholder="Title" class="form-control">
                </div>
                <div class="mb-2">
                   <select class="form-control">
                    <option value="">
                        Select a Group
                    </option>
                   </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Update">
                    <a routerLink="/" class="btn btn-warning mx-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://www.hdnicewallpapers.com/Walls/Big/Cat/Beautiful_Cat_Imge_Download.jpg" class="contact-image" alt="">
        </div>
    </div>
</div>