<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3">GM Contacts <a routerLink="/contacts/add" class="btn btn-danger btn-sm"><i class="fa fa-plus-circle"></i> Add New</a></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos vitae quo, velit tempora, minus non beatae sapiente explicabo provident, aliquid perspiciatis est temporibus molestiae! Illo ratione odio voluptatem architecto magnam!`</p>
            
            <form>
                <div class="row">
                    <div class="col-md-6" >
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Search User">
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-outline-dark " value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <pre>{{contacts | json}}</pre> -->

<!-- loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- error message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="ro">
            <div class="col">
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>

<!-- cards container -->

<div class="container mt-3" *ngIf="!loading && contacts.length > 0">
    <div class="row">
        <div class="col-md-6 my-2" *ngFor="let contact of contacts">
            <div class="card list-group-item-danger shadow-lg">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <img class="contact-image" [src]="contact.photo" alt="">
                        </div>
                        <div class="col-sm-7">
                            <div class="list-group">
                                <li class="list-group-item">Name: <span class="fw-bold">{{contact.name}}</span></li>
                                <li class="list-group-item">Email: <span class="fw-bold">{{contact.email}}</span></li>
                                <li class="list-group-item">mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
                            </div>
                        </div>
                        <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
                            <a class="btn btn-warning" routerLink="/contacts/view/{{contact.id}}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-warning my-2" routerLink="/contacts/edit/:contactId">
                                <i class="fa fa-pen"></i>
                            </a>
                            <button class="btn btn-danger"> <i class="fa fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>