/* You can add global styles to this file, and also import other style files */
.contact-image{
    width: 150px;
    border-radius: 50%;

}
.contact-image-big{
    width: 200px;
    border-radius: 50%;

}
