<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi cupiditate ab veritatis sed fugit odio rerum nihil corrupti nemo recusandae.</p>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
    
</div>

<!--Add Contact form -->
<!-- {{contact | json}} -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.name" name="name" placeholder="Name" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.photo" name="photo" placeholder="Photo Url" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="email" [(ngModel)]="contact.email" name="email" ng-required="email" placeholder="Email" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="number" [(ngModel)]="contact.mobile" name="mobile" placeholder="mobile" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.company"  ng-req name="company" placeholder="Company" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.title" name="title" placeholder="Title" class="form-control">
                </div>
                <div class="mb-2" *ngIf="groups.length > 0">
                   <select [(ngModel)]="contact.groupId" name="groupId" class="form-control">
                    <option value="" >
                        Select a Group
                    </option>
                    <option [value]="group.id" *ngFor="let group of groups">
                        {{group.name}}
                    </option>
                   </select>
                </div>
                <div class="mb-2" >
                    <input type="submit" class="btn btn-danger" value="Create">
                    <a routerLink="/" class="btn btn-warning mx-2">Close</a>
                </div>
            </form>
        </div>
        <!-- <pre>{{groups | json}}</pre> -->
        <div class="col-sm-4">
            <img [src]="contact.photo" class="contact-image" alt="">
        </div>
    </div>
</div>